
.vs/GAME1017_Template_W01/v16/.suo
.vs/GAME1017_Template_W01/v16/Browse.VC.db
.vs/GAME1017_Template_W01/v16/Browse.VC.opendb
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/2bbc6208c855fcac/PLAYSTATE.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/4fcc976f09b3ebca/COLLISIONMANAGER.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/56bb9865d96de0e4/PLAYER.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/921b149491bac904/MATHMANAGER.ipch
Debug/GAME1017_Template_W01.exe
Debug/GAME1017_Template_W01.ilk
Debug/GAME1017_Template_W01.pdb
GAME1017_Template_W01/Debug/Button.obj
GAME1017_Template_W01/Debug/CollisionManager.obj
GAME1017_Template_W01/Debug/DebugManager.obj
GAME1017_Template_W01/Debug/Engine.obj
GAME1017_Template_W01/Debug/EventManager.obj
GAME1017_Template_W01/Debug/FontManager.obj
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/CL.command.1.tlog
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/CL.read.1.tlog
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/CL.write.1.tlog
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/GAME1017_Template_W01.lastbuildstate
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/link.command.1.tlog
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/link.read.1.tlog
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/link.write.1.tlog
GAME1017_Template_W01/Debug/GAME1017_Template_W01.log
GAME1017_Template_W01/Debug/Label.obj
GAME1017_Template_W01/Debug/Main.obj
GAME1017_Template_W01/Debug/MathManager.obj
GAME1017_Template_W01/Debug/Pathing.obj
GAME1017_Template_W01/Debug/PathManager.obj
GAME1017_Template_W01/Debug/PlayButton.obj
GAME1017_Template_W01/Debug/Player.obj
GAME1017_Template_W01/Debug/PlayState.obj
GAME1017_Template_W01/Debug/SoundManager.obj
GAME1017_Template_W01/Debug/StartScene.obj
GAME1017_Template_W01/Debug/StateManager.obj
GAME1017_Template_W01/Debug/States.obj
GAME1017_Template_W01/Debug/TextureManager.obj
GAME1017_Template_W01/Debug/vc142.idb
GAME1017_Template_W01/Debug/vc142.pdb
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/d39712151dfff651/ENGINE.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/ae52c8cd4495bb4e/ENEMY.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/6b9a14987bc2118d/ENEMY.ipch
GAME1017_Template_W01/Debug/UiElements.obj
GAME1017_Template_W01/Debug/LifeBar.obj
GAME1017_Template_W01/Debug/Enemy.obj
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/719bfc629ebc6fa6/SPRITE.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/83bd44c8d125464d/DEBUGMANAGER.ipch
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/cb7d4230f8c9d901/BUTTON.ipch
*.ipch
*.obj
.vs/GAME1017_Template_W01/v16/ipch/AutoPCH/83bd44c8d125464d/DEBUGMANAGER.ipch
GAME1017_Template_W01/Debug/Enemy.obj
GAME1017_Template_W01/Debug/LifeBar.obj
GAME1017_Template_W01/Debug/UiElements.obj
GAME1017_Template_W01/Debug/Enemy.obj
GAME1017_Template_W01/Debug/GAME1017_Template_W01.Build.CppClean.log
GAME1017_Template_W01/Debug/LifeBar.obj
GAME1017_Template_W01/Debug/UiElements.obj
GAME1017_Template_W01/Debug/Enemy.obj
GAME1017_Template_W01/Debug/GAME1017.2745DD34.tlog/unsuccessfulbuild
GAME1017_Template_W01/Debug/LifeBar.obj
GAME1017_Template_W01/Debug/UiElements.obj
GAME1017_Template_W01/Debug/Enemy.obj
GAME1017_Template_W01/Debug/LifeBar.obj
GAME1017_Template_W01/Debug/meleeenemy.new.obj.enc
GAME1017_Template_W01/Debug/UiElements.obj
